.co-width-50{
    width: 50%;
    padding: 2rem;
}

.margin{
    margin-top: -200px;
}

.indicator{
    margin-right: 43%;
    margin-left: 43%;
    margin-bottom: 4rem;
    /* background-color: transparent; */
    
}

.indicator-button{
    width: 10px;
    height: 4px;
    border-radius: 50%;
    padding: 2rem;
    /* color: black; */
}

.avatar{
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
    border-radius: 100%;
    background-color: #ff0066;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


  
@media (min-width: 768px) {
    .carousel-img{
        width: 50%;
        display: block;
        margin: auto;
        }
    }

.co-height{
    height: 50%;
}