.co-width-50{
    width: 50%;
    padding: 2rem;
}

.margin{
    margin-top: -200px;
}

.indicator{
    margin-right: 43%;
    margin-left: 43%;
    margin-bottom: 4rem;
    /* background-color: transparent; */
    
}

.indicator-button{
    width: 10px;
    height: 4px;
    border-radius: 50%;
    padding: 2rem;
    /* color: black; */
}


